<%- include('../layouts/main') %>

<div class="container">
  <h1>All Follow-Ups</h1>
  <ul>
    <% followups.forEach(followup => { %>
    <li>
      <h3>
        <a href="/followups/<%= followup._id %>"><%= followup.title %></a>
      </h3>
      <p>Description: <%= followup.description %></p>
      <p>Date: <%= new Date(followup.date).toLocaleDateString() %></p>
      <form
        action="/followups/<%= followup._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
</div>
